# fly.toml app configuration file generated for snaptoflash-backend on 2026-02-07T19:20:07+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'snaptoflash-backend'
primary_region = 'syd'

[build]
  dockerfile = 'backend/Dockerfile'

[http_service]
  internal_port = 8787
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
