<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackendBaseURL</key>
	<string>http://127.0.0.1:8787</string>
	<key>BackendBaseURLDebug</key>
	<string>http://127.0.0.1:8787</string>
	<key>BackendBaseURLRelease</key>
	<string>https://snaptoflash-backend.fly.dev</string>
	<key>CFBundleDisplayName</key>
	<string>Deckify</string>
	<key>DeckifyBrandIconPath</key>
	<string>~/Development/SnapToFlash/design/icons/Deckify Icon 2.png</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>127.0.0.1</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
